body{
    border-top: 5px solid #e55511;
    background-color: #ebe8de;
    font-family: 'Permanent Marker', 'Shadows Into Light', 'Indie Flower', sans-serif, cursive; /*If it's going to be
                                                                cartoon tematic site I think this fonts are suitable*/
    color: #333;
    border-bottom: 1px solid #e55511;
}

p{
    margin: 5px 0;
    line-height: 20px;
}

a{
    text-decoration: none;
    color: inherit;
    -webkit-transition: prop time;
    -moz-transition: prop time;
    -ms-transition: prop time;
    -o-transition: prop time;
    transition: color 0.5s ease;
}

figcaption{
    line-height: 20px;
    font-size: 12px;
    width: auto;
}

header{
    position: relative;
    width: auto;
    max-width: 900px;
    margin: 0 auto 20px auto;
    padding-bottom: 15px;
    height: 80px;
}
    .headlogo{
        margin-top: 5px;
        position: relative;
        float: left;
    }

    header h1{
        position: absolute;
        font-size: 48px;
        color: #e55511;
        font-family: "Permanent Marker";
        left: 100px;
        font-weight: bold;
    }

    nav{
        margin-top: 85px;
        float: right;
    }

    nav ul{
        list-style-type: none;
    }

    nav ul li{
        display: block;
        padding: 3px 12px;
        float: left;
        background-color: #e55511;
    }

    nav ul li a{
        text-transform: uppercase;
        -webkit-transition: prop time;
        -moz-transition: prop time;
        -ms-transition: prop time;
        -o-transition: prop time;
        transition: all .25s ease;
        font-size: 14px;
        font-weight: bold;
        padding: 0px;
        color: #333333;
    }

    nav ul li a:hover{
        background-color: #e55511;
        color: #ffffff;
    }