/*footer styling*/

footer {
    width: 100%;
    background-color:rgba(0,0,0,0.78);
    margin: 0;
    box-sizing: border-box;
}

.footer-wrapper{
    width: auto;
    max-width: 1120px;
    line-height: 20px;
    margin: 0 auto;
    min-height: 250px;
    box-sizing: border-box;
}

footer .footer-wrapper article {
    font-family: "Open Sans", sans-serif;
    color: #ababab;
    float: left;
    width: 30%;
    margin-right: 20px;
}
footer .footer-wrapper article:last-child {
    margin-right: 0;
}
footer .footer-wrapper article h4 {
    font-size: 24px;
    color: #e55511;
    font-weight: bold;
}

footer .footer-wrapper ul{
    font-size: 18px;
    margin-left: -40px;
}

footer .footer-wrapper ul li {
    list-style-type: none;
}

footer .footer-wrapper article a:hover{
    color: #e55511;
    opacity: 0.5;
}

#social {
    height: 70px;
    background: #1d1d1d;
    width: 100%;
    box-sizing: border-box;
}

#social .subfooter-wrapper{
    width: auto;
    max-width: 1120px;
    padding: 25px 10px 0 0;
    color: #5e5e5e;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0 auto;
}
#social .subfooter-wrapper p {
    float: left;
    overflow: hidden;
    font-size: 12px;
}
#social .subfooter-wrapper .social {
    float: right;
}

#social .subfooter-wrapper img{
    width: 32px;
}

#social .subfooter-wrapper .social a:hover{
    opacity: 0.6;
    color: #e55511;
}

#social .subfooter-wrapper a{
    color: #ababab;
}

#social .subfooter-wrapper a:hover{
    color: #fff;
}

footer a{
    text-decoration: none;
    color: inherit;
    -webkit-transition: prop time;
    -moz-transition: prop time;
    -ms-transition: prop time;
    -o-transition: prop time;
    transition: color 0.5s ease;
}

#validators{
    float: right;
    width: 28%;
}

#validators img:hover{
    opacity: 0.7;
    color: #eee;
}

#validators img{
    float: right;
}

@media all and (max-width: 920px){
    #social .subfooter-wrapper .social {
        display: none;
    }
}

.hidden{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}