@font-face {
    font-family: 'MyWebFont';
    src: url("../fonts/beer-money.ttf");
}

html {
    font-size: 10px;
    height: 100%;
}

body {
    position: relative;
    border-top: solid 10px #E55511;
    background-color: #ebe8de;
}

body {
    font-family: MyWebFont, "Sprite Graffiti", 'Permanent Marker', 'Shadows Into Light', 'Indie Flower', sans-serif, cursive;
}

body:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    background: #ffffff url("../img/body-background.png");
    content: "";
}

header {
    border-bottom: solid 1px #E55511;
    margin: 10px 0;
}

header > div {
    text-align: center;
}

.head-logo {
    display: inline-block;
    position: relative;
}

.head-logo a {
    border: none;
    text-decoration: none;
    display: inline-block;
}

.head-logo h1 {
    font-size: 48px;
    color: #e55511;
    font-family: "Permanent Marker";
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 100px
}

/*menu*/
nav{
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
}

nav ul{
    background-color: #e55511;
    margin-left: 20px;
}

nav ul li{
    display: inline-block;
    padding: 3px 15px;
}

nav ul li a{
    -webkit-transition: prop time;
    -moz-transition: prop time;
    -ms-transition: prop time;
    -o-transition: prop time;
    transition: all .25s ease;
    font-size: 20px;

    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding:  0 5px;
    color: #333333;
}

nav ul li a:hover{
    background-color: #e55511;
    padding: 0.6em 5px;
    border-bottom: 1px solid #000000;
    border-radius: 50%;
    color: #ffffff;
}
