main.main-container {
    position: relative;
    margin: 10px 0;
}

main > div{
    text-align: center;
}

main.main-container > div > div {
    display: inline-block;
}

.main-container article figure {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 10px;
}

.main-container article figure img{
    width: 400px;
}

.main-container article.trainer figure img,
.main-container article.training figure img{
    width: 134px;
}

article figure .question, span.answer{
    font-size: 4rem;
    position: absolute;
    left: 0px;
    text-align: center;
    display: block;
    -webkit-transition: prop time;
    -moz-transition: prop time;
    -ms-transition: prop time;
    -o-transition: prop time;
    transition: all .5s ease;
}

article figure .question{
    top: 0px;
    width: 400px;
    height: auto;
    background: #000000;
    color: #ffffff;
    opacity: 0.65;
}

.main-container article.trainer .question{
    width: 100%;
    height: 100%;
    font-size: 5rem;
    padding-top: 0;
}

.main-container article.training .question{
    width: 100%;
    height: 100%;
    font-size: 5rem;
}

article figure span.answer{
    top: 0;
    width: 400px;
    height: auto;
    background: #000000;
    color: #ffffff;
    opacity: 0.02;

}

article figure:hover .question {
    opacity: 0.02;
}

article figure:hover span.answer {
    opacity: 0.8;
}

.trainer div div.padding-top{
     padding-top: 110px;
 }

.training div div.padding-top{
    padding-top: 70px;
}