@font-face {
    font-family: 'MyWebFont';
    src: url("../fonts/beer-money.ttf");
}

html {
    font-size: 10px;
    height: 100%;
}

main.main-container {
    font-family: MyWebFont;
}

main.main-container > div{
    text-align: center;
}

main.main-container > div > div {
    display: inline-block;
}

.main-container article figure {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 10px;
}

.main-container article figure img{
    width: 400px;
}

.main-container article.trainer figure img,
.main-container article.training figure img{
    width: 134px;
}

.main-container article figure .question, span.answer{
    font-size: 4rem;
    position: absolute;
    left: 0px;
    text-align: center;
    display: block;
    -webkit-transition: prop time;
    -moz-transition: prop time;
    -ms-transition: prop time;
    -o-transition: prop time;
    transition: all .5s ease;
}

.main-container article figure .question{
    top: 0px;
    width: 400px;
    height: auto;
    background: #000000;
    color: #ffffff;
    opacity: 0.65;
}

.main-container article.trainer .question,
.main-container article.trainer-h .question{
    padding-top: 0;
}

.main-container article.training .question,
.main-container article.training-h .question,
.main-container article.trainer .question,
.main-container article.trainer-h .question{
    width: 100%;
    height: 100%;
    font-size: 5rem;
}

.main-container article figure.targets span.answer{
    top: 0;
    width: 400px;
    height: auto;
    background: #000000;
    color: #ffffff;
    opacity: 0.02;

}

.main-container article figure:hover .question {
    opacity: 0.02;
}

.main-container article figure:hover span.answer {
    opacity: 0.8;
}

.main-container .trainer div div.padding-top{
     padding-top: 110px;
 }

.training div div.padding-top{
    padding-top: 70px;
}

.training-h, .trainer-h{
    display: none;
}

@media only screen and (max-width: 781px){
    .trainer, .training{
        display: none;
    }

    .training-h, .trainer-h{
        display: block;
    }

}

@media only screen and (max-width: 450px){

    .main-container article figure img,
    .main-container article figure.targets span.answer,
    .main-container article figure .question{
        width: 300px;
    }

    .main-container article.training-h .question,
    .main-container article.trainer-h .question,
    .main-container div article figure.targets .question{
        font-size: 3rem;
    }

    main.main-container div{
        margin: 0;
    }

    html body main{
        padding: 0px;
    }

 }

@media only screen and (max-width: 351px){

    .main-container article figure img,
    .main-container article figure.targets span.answer,
    .main-container article figure .question{
        width: 250px;
    }

}