body{
	font-family: "Open sans";
}
.main-container h1 {
	text-align: center;
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 50px;
	color: #2E64AE;
	line-height: 40px;
}
.main-container h3 {
	font-size: 45px;
	font-weight: bold;
	line-height: 40px;
	color: #2E64AE;
	text-align: center;
	padding-top: 0px;
}

.main-container p{
	word-wrap: break-word;
	font-size: 20px;
	max-width: 100%;
	text-align: left;
	line-height: 30px;
}
.main-container p:first-letter {
	font-size: 40px;
	color: #FFD727;
}
img.list {
	max-width: 100%;
}
.italic {
	font-style: italic;
	font-weight: bolder;
}
.image-wrapper > img {
	width: 700px;
	height: 360px;
}
.orange {
	color:#E55511;
}
.main-container article{
	padding-bottom: 15px;
}

.main-container figure{
	margin: 10px 10px;
}
.main-container figure img {
	padding-top: 10px;
	margin-left: 0px;
}
.main-container {
	margin: 0 auto;
}
.wrapper {
	margin: 0 auto;
	position: relative;
	max-width: 700px;
}
.hidden{
	position: absolute;
	clip: rect(1px 1px 1px 1px);
}