@media only screen and (max-width: 320px) {
	.main-container h1 {
		font-size: 3em;
	}
	.main-container h3 {
		font-size: 2em;
	}
}
.main-container h1 {
	font-size: 36px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 50px;
	color: #2E64AE;
	line-height: 40px;
}
.main-container h3 {
	font-size: 28px;
	font-weight: bold;
	line-height: 40px;
	color: #000000;
	text-align: center;
	padding-top: 0px;
}

.main-container p{
	word-wrap: break-word;
	font-size: 16px;
	max-width: 100%;
	text-align: left;
	line-height: 28px;
    margin: 0;
    background-color: #2E64AE ;
    box-sizing: border-box;
    padding: 15px 30px 20px 30px;
    color: #ffffff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
img.list {
	max-width: 100%;
	height: auto;
    margin: 0;
    padding: 0;
}
.italic {
	font-style: italic;
	font-weight: bolder;
}
.image-wrapper {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
}
.image-wrapper > img {
    padding: 0 !important;
    margin: 0 !important;
	width: 700px;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main-container article{
	padding-bottom: 15px;
}

.main-container figure{
	margin: 10px 10px;
}
.main-container figure img {
	padding-top: 10px;
	margin-left: 0;
}
.main-container {
	margin: 0 auto;
}
.wrapper {
	margin: 0 auto;
	position: relative;
	max-width: 700px;
}
.hidden{
	position: absolute;
	clip: rect(1px 1px 1px 1px);
}
