body{
	font-family:  'mywebfont';
}
h1 {
	text-align: center;
	font-size: 55px;
	margin-top: 15px;
	margin-bottom: 50px;
	color: #E55511;
}
h3 {
	font-size: 35px;
	font-weight: bold;
	line-height: 45px;
	color: rgba(22, 27, 22, 1);
	text-align: center;
	padding-top: 10px;
}

p{
	font-family: 'mywebfont', Verdana;
	word-wrap: break-word;
	font-size: 25px;
	margin-left: 90px;
	max-width: 710px;

}
img.list {
	width: 100%;
	height: auto;


}
.orange {
	color:#E55511;
}
.contacts-container div {
	background-color: #ebe8de;
	padding: 10px;
	box-shadow: 10px 10px 20px #888888   ;
}
.contacts-container article{
	padding-bottom: 30px;
}

.contacts-container figure{
	margin: 10px 10px;
}
.contacts-container figure img {
	padding-top: 10px;
	margin-left: 0px;
}

.contacts-container{

	margin: 0 auto;
	position: relative;
	max-width: 900px;
}
.hidden{
	position: absolute;
	clip: rect(1px 1px 1px 1px);
}
