h3 {
    font-size: 28px;
    font-weight: bold;
    line-height: 45px;
    color: rgba(22, 27, 22, 1);
}

p{
    display: inline;
    margin: 5px 20px;
    line-height: 20px;
    word-wrap: break-word;
    font-size: 18px;
    overflow: auto;
    text-align: justify;
    line-height: 22px;
}

main{
    padding: 80px 20px;
}

.mission-container article{
    padding-bottom: 30px;
}

.mission-container figure{
    margin: 10px 10px;
    float: left;
}

.mission-container figure img, figcaption {
    width: 200px;
    font-size: 12px;
}


.hidden{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
}