h3 {
    font-size: 28px;
    font-weight: bold;
    line-height: 45px;
    color: rgba(22, 27, 22, 1);
    margin-left: 10px;
}

p{
    display: inline;
    margin: 5px 20px;
    line-height: 20px;
    word-wrap: break-word;
    font-size: 18px;
    overflow: auto;
    text-align: justify;
    line-height: 22px;
    padding: 15px;
}

main{
    padding: 80px 20px;
}

.mission-container article{
    padding-bottom: 30px;
    display: inline-block;
}

.paragraf1::first-letter{
    font-family: "beer money";
    font-size: 300%;
}

.mission-container figure{
    margin: 10px 10px;
    float: left;
}

.mission-container figure img, figcaption {
    width: 200px;
    font-size: 12px;
}

.paragraf, .paragraf1{
    display: block;
    text-align: justify;
    margin: 10px;
}

.hidden{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
}

/*tabs styles*/

.tabs-container{
    width: 80%;
    margin: 10px auto 30px auto;
}

.tabs-container label{
    font-family: "beer money";
    font-weight: bold;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: auto;
    min-height: 30px;
    color: #ffd727;
    cursor: pointer;
    line-height: 33px;
    font-size: 22px;
    background: #2e64ae;
    box-shadow:
            0px 0px 0px 1px rgba(155,155,155,0.3),
            1px 0px 0px 0px rgba(255,255,255,0.9) inset,
            0px 2px 2px rgba(0,0,0,0.1);
}

.tabs-container label:hover{
    background: rgba(128, 128, 128, 0.8);
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tabs-container input:checked + label, .tabs-container input:checked + label:hover{
    background: #76818c;
    color: #ffffff;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3),
                0px 2px 2px rgba(0,0,0,0.1);
}

.tabs-container input{
    display: none;
}

.tabs-container article{
    position: relative;
    height: 0px;
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.tabs-container input:checked ~ article{
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3);
    height: auto;
}
