body{
    font-family:  'mywebfont';
}

h3 {
    font-size: 28px;
    font-weight: bold;
    line-height: 45px;
    color: rgba(22, 27, 22, 1);
}

p{
    font-family: 'mywebfont', Verdana;
    display: inline;
    margin: 5px 20px;
    line-height: 20px;
    word-wrap: break-word;
    font-size: 18px;
    overflow: auto;
    text-align: justify;
    line-height: 22px;
}

.mission-container div {
    background-color: #ebe8de;
    padding: 10px;
    box-shadow: 10px 10px 20px #888888   ;
}

.mission-container article{
    padding-bottom: 30px;
}

.mission-container figure{
    margin: 10px 10px;
    float: left;
}

.mission-container figure img, figcaption {
    width: 200px;
    font-size: 12px;
}

.mission-container{
    display: block;
    margin: 0 auto;
    position: relative;
    width: auto;
    max-width: 900px;
}

.hidden{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
}