main {
    /*size*/
    width: 100%;
    min-height: 500px;
    /*padding*/
    padding-top: 30px;
    /*text and fonts*/
    font-size: 1.8rem;
    font-family:   "Tahoma", "Helvetica", San-serif;
}

main > section{
    width: 100%;
}

#start, #question1, #question2, #question3, #question4, #question5, #result, #startTest {
    /*size*/
    display: none;
    /*position*/
    position: relative;
    text-align: center;
    /*padding and margin*/
    padding: 2rem;
}

#startTest {
    display: block;
}

main section > div,  main > div {
    /*size*/
    width: 50%;
    /*background and color*/
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    /*text and fonts*/
    text-align: center;
    /*padding and margin*/
    padding: 2rem;
    margin: 0 auto 1rem auto;
    /*shadows*/
    box-shadow : 0.5rem 0.5rem #000000;
    position: relative;
}

main div.result{
    width: 60%;
    text-align: justify;
    margin-top: 30px;

}

#start:target, #question1:target, #question2:target,
#question3:target, #question4:target, #question5:target, #result:target {
    display: block;
}

img.css {
    width: 20%;
    margin-bottom: 10px;
}

#question4 img.css:hover {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#question4 img.jscript {
    height: 20rem;
}


main a {
    /*size*/
    display: inline-block;
    width: 20rem;
    /*background and color*/
    background-color: #E55511;
    color: #000000;
    /*text and fonts*/
    text-decoration: none;
    text-transform: uppercase;
    /*border*/
    border-radius: 0.5rem;
    /*padding and margin*/
    padding: 1rem;
    margin: 1rem;
    /*shadows*/
    box-shadow: 0.5rem 0.5rem 0.5rem #000000;
}

main a:active {
    box-shadow: none;
}

main a:hover {
    color: #ffffff;
}
main section form {
    display: inline-block;
    text-align: left;
    margin-top: 10px;
}

form label, .italic{
    font-style: italic;
}

form input, form label {
    margin-bottom: 7px;
}

main section h1{
    font-size: 3rem;
    text-decoration: underline;
}

main section:last-child h1{
    font-size: 4rem;
    text-align: center;
}

main section div p, main section h1, main section form {
    margin-bottom: 2rem;
}



