html {
    font-size: 10px;
    height: 100%;
}

main {
    /*text and fonts*/
    font-size: 1.8rem;
}

main > section{
    width: 100%;
}

#start, #question1, #question2, #question3, #question4, #question5, #result, #startTest {
    /*size*/
    display: none;
}

#startTest {
    display: block;
}

main section > div,  main > div {
    /*size*/
    width: 50%;
    /*background and color*/
    background-color: #ebe8de;
    color: #000;
    /*text and fonts*/
    text-align: center;
    /*padding and margin*/
    padding: 2rem;
    margin: 30px auto 1rem auto;
    /*shadows*/
    box-shadow :  0 0 50px rgba(100,100,50,0.1);
    position: relative;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
}

main div.result{
    width: 60%;
    text-align: justify;
    margin-top: 30px;

}

#start:target, #question1:target, #question2:target,
#question3:target, #question4:target, #question5:target, #result:target {
    display: block;
}

img.css {
    width: 50%;
    margin-bottom: 10px;
}

#question4 img.css:hover {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#question4 img.jscript {
    height: 20rem;
}


main a {
    /*size*/
    display: inline-block;
    width: 20rem;
    /*background and color*/
    background-color: #2E64AE;
    color: #ffffff;
    /*text and fonts*/
    text-decoration: none;
    text-transform: uppercase;
    /*border*/
    border-radius: 0.5rem;
    /*padding and margin*/
    padding: 1rem;
    margin: 1rem;
    /*shadows*/
}

main a:active {
    box-shadow: none;
}

main a:hover {
    color: #ffa627;
}
main section form {
    display: inline-block;
    text-align: left;
    margin-top: 10px;
}

form label, .italic{
    font-style: italic;
}

form input, form label {
    margin-bottom: 7px;
}

main section h1{
    font-size: 3rem;
    text-decoration: underline;
}

main section:last-child h1{
    font-size: 4rem;
    text-align: center;
}

main section div p {
    font-weight: bold;
    color: #2e64ae;
}

.offtopic{
    color: #000000 !important;
    font-size: 1.7rem !important;
}

main section div p, main section h1, main section form {
    margin-bottom: 2rem;
}


@media only screen and (max-width: 640px) {
    main a{
        width: 67%;
        font-size: 1.4rem;
    }

    main section > div,  main > div, main div.result {
        width: 270px;
        padding: 0.5rem;
    }

    img.css {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 400px) {

    main form label{
        font-size: 1.4rem;
    }

    main section > div,  main > div, main div.result {
        width: 200px;
        padding: 0.5rem;
        font-size: 1.6rem;
    }

}

