html {
    font-size: 10px;
}

main {
    /*size*/
    min-height: 500px;
    /*padding*/
    padding-bottom: 30px;
    /*text and fonts*/
    font-size: 1.6rem;
}

body main > div {
    max-width: 800px;
    margin: 0 auto;
}

main > section {
    /*size*/
    width: 85%;
    /*background and color*/
    background-color: #ebe8de;

}

main figure {
    /*size*/
    display: inline-block;
}

main > section, main figure {
    /*background and color*/
    background-color: #ebe8de;
    /*text and fonts*/
    text-align: left;
    /*padding and margin*/
    padding: 2rem;
    margin: 0 auto;
    /*shadows*/
    box-shadow: 10px 10px 20px #888888;
}

main > section{
    margin-top: 2rem;
}

main figure img {
    height: 250px;
}

main div div figure:first-child {
    margin-right: 110px;
}

main > div {
    position: relative;
    padding-top: 80px;
}

main > div > div{
    margin: 0 auto;
}

main > div > figure {
    position: absolute;
    top: 0px;
    left: 34%;
}

.figure-Nakov {
    z-index: 200;
}

.figure-Gosho {
    z-index: 150;
}

main div figure div {
    margin-top: 5px
}

.span-italic {
    font-style: italic;
}

.span-bold {
    font-weight: bold;
}

/*Responsive page*/
@media only screen and (max-width: 801px) {

    .figure-Nakov, main > div {
        position: static;
    }

   main div{
       width: 100%;
   }

   main figure{
       /*width: 100%;*/
       margin-bottom: 10px;
       display: block;
    }

    main div div figure:first-child {
        margin-right: 0px;
    }

    main figure:after{
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    main figure img {
        height: 150px;
        margin-right: 25px;
        float: left;
    }


    main > section {
        display: none;
    }

    main > div{
        padding: 0;
    }

    main div div figure div{
        margin-right: 25px;
    }

}

@media only screen and (max-width: 320px) {

    .span-bold {
        display: block;
    }

}
